#main{
    height: 600px;
    width: 100%;
  }
    #content{
      width: 50%;
        margin-top: auto;
        margin-right:400px;
        padding: 50px;
        justify-content: space-between;
    }
    /* #content>div>img{
      justify-content: space-between;
      padding: 100px;
    } */
     #tp>div>img{
        height:20px;
    }
    #tp{
        display: flex;
        justify-content: space-between;
    }
    #pic>img{
      width:50%;
      height:200px;
      padding: 150px;
      margin-right: 60px;
    }
    #two{
      display: flex;
    }
    h1{
      text-align: center;
    }
    h4{
      text-align: center;
    }
    p{
      text-align: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
    